.preview {
  align-items: center;
  background-color: #023031;
  display: flex;
  flex-flow: column wrap;
  width: 50%;
}

.preview .p-title {
  color: white;
}

.card p {
  margin: 0;
}

.card-border {
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  margin-top: 20%;
  width: 50%;
}

.card {
  background-color: white;
  border: 5px solid #036b52;
  height: 93%;
  width: 91%;
}

.card-header {
  background-color: #023031;
  color: white;
  font-weight: 600;
  padding: 0.2rem  0.5rem;
  text-align: end;
}

.card-main img {
  min-height: 265px;
  object-fit: cover;
  width: 100%;
}

.card-main {
  position: relative;
}

.card-main .description-card {
  background-color: #036b52;
  bottom: 0;
  color: white;
  font-size: x-small;
  font-weight: 600;
  padding: 0.5rem 1rem;
  position: absolute;
  text-align: center;
  width: inherit;
  word-wrap: break-word;
}

.card .card-attributes {
  margin: 1rem auto;
  width: max-content;
}

.card-attributes .rarity {
  background-color: #036b52;
  border-radius: 1rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  color: white;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  text-align: center;
  text-transform: capitalize;
}

.card-main .card-trunfo {
  background-image: radial-gradient(#14306d, #0c1f47);
  border-radius: 50%;
  color: white;
  font-size: x-small;
  font-weight: 600;
  left: 5%;
  padding: 0.8rem;
  position: absolute;
  text-align: center;
  top: 5%;
  transform: rotate(-15deg);
  width: 15%;
}
